.orders_list{
    width: 100%;
    min-height: 100px;
    height: 100%;
    max-width: 1320px;
    margin: 20px auto;
    color: #4ad2ef;
    border: 2px solid #4ad2ef;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 20px;
}

.orders_list h2{
    padding-left: 25px;
}

.orders_list p {
    margin: 10px 20px;
    border: 1px solid #4ad2ef;
    padding: 5px;
}


.btnOrders{
    background-color: white;
    border: 2px solid #4ad2ef;
    width: 80px;
    height: 40px;
    position: absolute;
    bottom: -20px;
    font-weight: 600;
}

.btnOrders:hover{
    background-color: black;
    color: white;
}
.sort{
    right: 120px;
}
.clear{
    right: 10px;
}